<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Denegado</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/accesodenegado.css">
</head>
<body>
    <!-- Header -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="container access-denied-container">
            <h2>Acceso Denegado</h2>
            <p>No tienes permisos suficientes para acceder a esta página.</p>
            <form th:action="@{/home}" method="get">
                <button type="submit" class="btn-volver">Volver</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    
</body>
</html>
