<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Recetas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/buscar.css">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="search-container">
        <h1>Buscar Recetas</h1>
        <p>Aquí puedes buscar recetas por nombre, tipo de cocina, ingredientes, país de origen, y dificultad.</p>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>